body, body * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	color: #EEE;
	font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
	font-size: 40%;
	padding-top: 6.4em;
	touch-action: manipulation;
	-ms-touch-action: manipulation;
}

.fullscreen, .fullscreen body {
	height: 100%;
	width: 100%;
}

a,
a:active,
a:visited {
	color: #EEE;
	text-decoration: none;
}

#modal {
	align-items: center;
	bottom: 6em;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 6.4em;
	width: 100%;
	/*height: 100%;*/
	background-color: rgba(0, 0, 0, 0.5);
}

#modal.hidden {
	display: none;
}

#modal h2 {
	background-color: transparent;
	display: block;
	font-size: 3em;
	margin: 0 auto;
	padding: 0;
	width: auto;
}

#menu {
	background-color: #000;
	font-size: 3em;
	position: absolute;
	top: 100px;
	width: 100%;
	bottom: 0;
	left: 0%;
	transition: left 0.25s;
	z-index: 999;
	border-top: 1px solid #EEE;
}

#menu.hidden {
	display: block;
	left: -100%;
}

#menu li {
	border-bottom: 1px solid #EEE;
	display: block;
	padding: 0.5em 0.5em;
}

.menu.button,
.menu.button:active,
.menu.button:visited {
	color: #00F;
	margin-right: 10px;
}

#wrapper {
	margin-bottom: 12em;
}

#wrapper.button-shown {
	margin-bottom: 24em;
}

h1 {
	background-color: #000;
	border-bottom: 2px solid #000;
	display: block;
	font-size: 4em;
	left: 0;
	padding: 0.1875em 0.375em;
	position: fixed;
	right: 0;
	/*text-align: center;*/
	top: 0;
	vertical-align: middle;
	width: 100%;
}

.enter, .exit {
	display: block;
	float: right;
	vertical-align: middle;
}

.enter img, .exit img {
	height: 1em;
	width: 1em;
	vertical-align: middle;
}

.exit {
	display: none;
}

.fullscreen .enter {
	display: none;
}

.fullscreen .exit {
	display: block;
}

h2 {
	background-color: #555;
	font-size: 3em;
	margin: 0 0 0.5em 0;
	padding: 0.25em 0.5em;
	width: 100%;
}

h3 {
	font-size: 2em;
	margin: 0 0 0.5em 0;
}

.col {
	/*outline: 1px solid rgba(255,255,255,0.5);*/
	margin: 0 0 1em 0;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

ul.dice > li {
	vertical-align: top;
}

.col h3 {
	/*margin-left: 0.375em;*/
}

.col h3.no-dice,
#results h3 {
	margin-left: 0.75em;
}

#results ul h3 {
	margin-left: 0;
}

.col > ul,
.results > ul {
	margin: 0 1.4em 0 1.5em;
}

li.attack,
li.defence {

}

li a, li img {
	display: block;
}

.die img {
	height: 10em;
	width: 10em;
}

.die {
	margin: 0 1em 1em 0;
}

.stats,
.roll {
	background-color: #00A;
	border: 2px solid #EEE;
	border-width: 1px 0 0 0;
	bottom: 2.5em;
	color: #EEE;
	display: block;
	font-size: 4em;
	left: 0;
	padding: 1em;
	position: fixed;
	right: 0;
	width: 100%;
}

.stats {
	right: 50%;
	width: 50%;
}

.roll {
	border-left: 1px solid #EEE;
	left: 50%;
	width: 50%;
}

.stats:active,
.roll:active {
	border-color: #000;
	color: #000;
}

.stats:focus,
.roll:focus{
	outline: none;
}

.hidden {
	display: none;
}

.role-wrapper {
	margin: 0 0 1.5em 0;
}

.table-wrapper {
	font-size: 2em;
	margin: 0 0.75em 0.5em 0.75em;
}

table {
	border: 1px solid #EEE;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

thead tr {
	border-bottom: 2px solid #CCC;
}

tr {
	border-bottom: 1px solid #EEE;
	margin: 0 0 0.5em 0;
}

th, td {
	max-width: 25%;
	min-width: 25%;
	padding: 0.5em;
	text-align: left;
	width: 25%;
}

th img, td img {
	vertical-align: middle;
	width: 1.2em;
}

@media (min-width: 1000px) {
	.col {
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}

	ul.dice > li {
		width: auto;
	}
}

.tabs {
	background-color: #000;
	border-top: 1px solid #EEE;
	/*font-size: 0;*/
	height: 10em;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	vertical-align: middle;
}

.tab {
	border-left: 1px solid #EEE;
}

.tab:first-child {
	border: none;
}

.tab img {
	display: inline;
	height: 10em;
}

.tab.active {
	background-color: #EEE;
}

.tab.active .off {
	display: none;
}

.tab .on {
	display: none;
}

.tab.active .on {
	display: inline;
}