body, body * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	color: #EEE;
	font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
	font-size: 100%;
	padding-top: 6.4em;
}

#modal {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 6.4em;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#modal.hidden {
	display: none;
}

#modal h2 {
	background-color: transparent;
	display: block;
	font-size: 3em;
	margin: 0 auto;
	padding: 0;
	width: auto;
}

.button-shown {
	margin-bottom: 7em;
}

h1 {
	background-color: #000;
	border-bottom: 2px solid #000;
	display: block;
	font-size: 4em;
	left: 0;
	padding: 0.1875em 0.375em;
	position: fixed;
	right: 0;
	/*text-align: center;*/
	top: 0;
	vertical-align: middle;
	width: 100%;
}

h2 {
	background-color: #555;
	font-size: 3em;
	margin: 0 0 0.5em 0;
	padding: 0.25em 0.5em;
	width: 100%;
}

h3 {
	font-size: 2em;
	margin: 0 0 0.5em 0;
}

.col {
	/*outline: 1px solid rgba(255,255,255,0.5);*/
	margin: 0 0 1em 0;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

ul.dice > li {
	vertical-align: top;
	width: 26em;
}

.col > h3,
#results h3 {
	margin-left: 0.75em;
}

li.attack,
li.defence {
	margin: 0 1.5em;
}

li a, li img {
	display: block;
}

.die img {
	height: 10em;
	width: 10em;
}

.die {
	margin: 0 1em 1em 0;
}

.calculate {
	background-color: #00A;
	border: 2px solid #EEE;
	bottom: 0;
	color: #EEE;
	display: block;
	font-size: 4em;
	left: 0;
	padding: 1em;
	position: fixed;
	right: 0;
	width: 100%;
}

.calculate:active {
	border-color: #000;
	color: #000;
}

.calculate:focus {
	outline: none;
}

.hidden {
	display: none;
}

.role-wrapper {
	margin: 0 0 1.5em 0;
}

.table-wrapper {
	font-size: 2em;
	margin: 0 0.75em 0.5em 0.75em;
}

table {
	border: 1px solid #EEE;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

thead tr {
	border-bottom: 2px solid #CCC;
}

tr {
	border-bottom: 1px solid #EEE;
	margin: 0 0 0.5em 0;
}

th, td {
	max-width: 25%;
	min-width: 25%;
	padding: 0.5em;
	text-align: left;
	width: 25%;
}

@media (min-width: 1000px) {
	.col {
		display: inline-block;
		vertical-align: top;
		width: 49%;

		outline: 1px solid rgba(255,255,255,0.5);
	}

	ul.dice > li {
		width: auto;
	}
}